@import url("styles/header.css");

:root{
    --cor-de-fundo:#000000;
    --cor-do-texto:#FFFFFF;
    --destaque: #B40000;
    --links:#B40000;
}
.cabecalho{
    background-color:var(--cor-de-fundo);
}